<nz-list [nzItemLayout]="'vertical'">
  <nz-list-item *ngFor="let item of 8 | numberLoop" nzNoFlex>
    <nz-list-item-meta>
      <nz-list-item-meta-title>
        <a>Alipay</a>
      </nz-list-item-meta-title>
      <nz-list-item-meta-description>
        <nz-tag>Ant Design</nz-tag>
        <nz-tag>Design Language</nz-tag>
        <nz-tag>Ant Financial</nz-tag>
      </nz-list-item-meta-description>
    </nz-list-item-meta>
    Paragraph: Ant Design, the design platform of Ant Financial, seamlessly integrates with the Ant Financial ecosystem, providing an experiential solution that bridges design and development with minimal effort.
    <div class="mt-4 info">
      <div nz-row>
        <nz-avatar class="mr-2" [nzSize]="'small'" [nzSrc]="'assets/imgs/default_face.png'"></nz-avatar>
        <a class="operate-text mr-2">Tiven</a>
        <span class="mr-2">Publish at</span>
        <a class="mr-2 operate-text">https://mtda.cloud/sap/</a>
        <time nz-typography nzType="secondary">2024-03-06 14:21</time>
      </div>
    </div>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <i class="mr-2" nz-icon nzType="star"></i>
        156
      </nz-list-item-action>
      <nz-list-item-action>
        <i class="mr-2" nz-icon nzType="like"></i>
        156
      </nz-list-item-action>
      <nz-list-item-action>
        <i class="mr-2" nz-icon nzType="message"></i>
        2
      </nz-list-item-action>
    </ul>
  </nz-list-item>
</nz-list>
