<div #appContainer *ngIf="semanticTargetUrl(); else so" class="relative flex-1 flex flex-col w-full h-full min-h-full"
  [class.zng-ui5__app-fullscreen]="appFullscreen()"
>
  <iframe #appiframe *ngFor="let src of semanticTargetUrl()"
    [src]="src | safe" class="flex-1 block w-full h-full min-h-full border-none"></iframe>

  <!-- <button nz-button nzType="primary" class="zng-ui5__fullscreen-button top-0 right-0"
    #toogleFullScreenDir="zngToggleFullscreen"
    zngToggleFullscreen
    [zngFullscreenElement]="appContainer"
    nz-tooltip
    nzTooltipPlacement="bottom"
    [nzTooltipTitle]="toogleFullScreenDir.isFullscreenFlag ? '全屏' : '退出全屏'">
    <i *ngIf="toogleFullScreenDir.isFullscreenFlag; else exitFullTpl" nz-icon nzTheme="outline" nzType="fullscreen"></i>
    <ng-template #exitFullTpl>
      <i nz-icon nzTheme="outline" nzType="fullscreen-exit"></i>
    </ng-template>
  </button> -->

  <button nz-button nzType="primary" class="zng-ui5__fullscreen-button top-0 right-0"
    nz-tooltip
    nzTooltipPlacement="bottom"
    [nzTooltipTitle]="appFullscreen() ? ('ZNG.Common.ExitFullscreen' | translate: {Default: 'Exit Fullscreen'}) : ('ZNG.Common.Fullscreen' | translate: {Default: 'Fullscreen'} )"
    (click)="toggleFullscreen()"
    >
    <i *ngIf="!appFullscreen(); else exitFullTpl" nz-icon nzTheme="outline" nzType="fullscreen"></i>
    <ng-template #exitFullTpl>
      <i nz-icon nzTheme="outline" nzType="fullscreen-exit"></i>
    </ng-template>
  </button>
</div>

<ng-template #so>
  <div *ngIf="semanticObject(); else launchpad" class="flex-1 flex flex-col justify-center">
    <nz-result nzStatus="404" nzTitle="404" [nzSubTitle]="'ZNG.UI5.FioriAppNotFound' | translate: { Default: 'Sorry, the Fiori app you visited does not exist'}">
    </nz-result>
  </div>
</ng-template>

<ng-template #launchpad>
  <div>
    <div nz-row [nzGutter]="8">
      <div *ngFor="let chip of chips()" nz-col [nzSm]="{span: 8}" [nzLg]="{span: 6}" class="mb-2">
        <nz-card class="h-[200px]" [nzTitle]="chip.title" nzBorderless nzHoverable [routerLink]="chip.navigationSemanticObject + '-' + chip.navigationSemanticAction">
          <p class="overflow-hidden text-ellipsis">
            {{ chip.subTitle }}
          </p>
        </nz-card>
      </div>
    </div>
  </div>
</ng-template>