<ul id="menuNav" nz-menu nzMode="inline" [nzTheme]="nzTheme" [nzInlineCollapsed]="isCollapsed">
  @for (menu of menus(); track menu.path) {
    @if (!menu.hasSubmenus) {
      <li nz-menu-item [routerLink]="menu.path" [queryParams]="menu.queryParams" [fragment]="menu.fragment" nzMatchRouter
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? menu.title : ''">
        @if (menu.icon) {
          <span nz-icon [nzType]="menu.icon"></span>
        }
        <span>{{ menu.title }}</span>
      </li>
    } @else {
      <li nz-submenu [nzOpen]="isOpen(menu.path)" [nzTitle]="isCollapsed ? menu.title?.[0] : menu.title" [nzIcon]="menu.icon ?? null" nzMatchRouter routerLinkActive="active-link"
        (click)="loadMenus(menu)">
        <!-- for highlight the active parent menu -->
        <div [routerLink]="menu.path"></div>
        <ng-container *ngTemplateOutlet="menuTempl; context: {menus: menu.submenus}"></ng-container>
      </li>
    }
  }

  <ng-template #menuTempl let-menus="menus">
    <ul>
      @for (menu of menus; track menu.path) {
        @if (!menu.hasSubmenus) {
          <li nz-menu-item [routerLink]="menu.path" [queryParams]="menu.queryParams" [fragment]="menu.fragment" nzMatchRouter
            nz-tooltip
            nzTooltipPlacement="right"
            [nzTooltipTitle]="isCollapsed ? menu.title : ''">
            @if (menu.icon) {
              <span nz-icon [nzType]="menu.icon"></span>
            }
            <span [title]="menu.title">{{ menu.title }}</span>
          </li>
        } @else {
          <li nz-submenu [nzTitle]="menu.title" [nzIcon]="menu.icon" nzMatchRouter routerLinkActive="active-link"
            (click)="loadMenus(menu)">
            <!-- for highlight the active parent menu -->
            <div [routerLink]="menu.path"></div>
            <ng-container *ngTemplateOutlet="menuTempl; context: {menus: menu.submenus}"></ng-container>
          </li>
        }
      }
    </ul>
  </ng-template>
</ul>

@if(flpLoading()) {
  <nz-spin nzSimple class="m-4"></nz-spin>
}