<div class="inline-block h-full px-3 cursor-pointer hover:bg-slate-100/50 dark:hover:bg-slate-100/10" nz-dropdown [nzDropdownMenu]="language">
    <i nz-icon nzTheme="outline" nzType="font-size"></i>
</div>
<nz-dropdown-menu #language="nzDropdownMenu">
    <ul nz-menu nzSelectable>
        <li nz-menu-item (click)="showMessage()">English</li>
        <li nz-menu-item (click)="showMessage()">Bahasa Indonesia</li>
        <li nz-menu-item (click)="showMessage()">日本語</li>
        <li nz-menu-item (click)="showMessage()">Português</li>
        <li nz-menu-item nzSelected (click)="showMessage()">简体中文</li>
        <li nz-menu-item (click)="showMessage()">繁體中文</li>
    </ul>
</nz-dropdown-menu>

<zng-global-settings></zng-global-settings>