<span *zngScreenLessHidden="'320'" class="zng-global-header__button px-4 cursor-pointer hover:bg-slate-100/50 dark:hover:bg-slate-100/10" nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="搜索"
  (click)="openSearch()">
  <i nz-icon nzTheme="outline" nzType="search"></i>
</span>

<span class="zng-global-header__button px-4 cursor-pointer hover:bg-slate-100/50 dark:hover:bg-slate-100/10"
  *zngScreenLessHidden="'393'"
  #toogleFullScreenDir="zngToggleFullscreen"
  zngToggleFullscreen
  nz-tooltip
  nzTooltipPlacement="bottom"
  [nzTooltipTitle]="toogleFullScreenDir.isFullscreenFlag ? '全屏' : '退出全屏'"
>
  <i *ngIf="toogleFullScreenDir.isFullscreenFlag; else exitFullTpl" nz-icon nzTheme="outline" nzType="fullscreen"></i>
  <ng-template #exitFullTpl>
    <i nz-icon nzTheme="outline" nzType="fullscreen-exit"></i>
  </ng-template>
</span>

<span class="zng-global-header__button px-4 cursor-pointer hover:bg-slate-100/50 dark:hover:bg-slate-100/10" nz-dropdown nzPlacement="bottomRight" nzTrigger="click"
  [nzDropdownMenu]="noticeMenu">
  <nz-badge class="bst-badge" nzSize="small" [nzCount]="0">
    <i class="p-2" nz-icon nzTheme="outline" nzType="bell"></i>
  </nz-badge>
</span>

<span class="zng-global-header__button flex justify-start items-center gap-1 px-4 cursor-pointer hover:bg-slate-100/50 dark:hover:bg-slate-100/10" nz-dropdown [nzDropdownMenu]="userSettingMenu">
  <img class="avatar w-8 rounded-full" alt="" src="assets/images/default-user.jpg" />
  <span class="base-font-size">{{ user()?.name }}</span>
</span>

<div class="zng-global-header__button inline-block h-full px-4 cursor-pointer hover:bg-slate-100/50 dark:hover:bg-slate-100/10" nz-dropdown [nzDropdownMenu]="language">
  <i nz-icon nzTheme="outline" nzType="font-size"></i>
</div>
<nz-dropdown-menu #language="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item *ngFor="let lang of languages" [nzSelected]="currentLang === lang.value" (click)="useLanguage(lang.value)">{{ lang.label }}</li>
  </ul>
</nz-dropdown-menu>

<zng-global-settings></zng-global-settings>

<nz-dropdown-menu #noticeMenu="nzDropdownMenu">
  <zng-home-notice/>
</nz-dropdown-menu>

<nz-dropdown-menu #userSettingMenu>
  <ul nz-menu>
    <!-- <li nz-menu-item (click)="goPage('personal-center')">
      <i nz-icon nzTheme="outline" nzType="user"></i>
      <span class="ml-2">个人中心</span>
    </li>
    <li nz-menu-item (click)="goPage('personal-setting')">
      <i nz-icon nzTheme="outline" nzType="setting"></i>
      <span>个人设置</span>
    </li> -->
    <li nz-menu-item (click)="changePassWorld()">
      <i nz-icon nzTheme="outline" nzType="lock"></i>
      <span class="ml-2">{{ 'ZNG.GlobalHeader.ChangePassword' | translate: {Default: 'Change Password'} }}</span>
    </li>
    <li nz-menu-divider></li>
    <!-- <li nz-menu-item (click)="clean()">
      <i nz-icon nzTheme="outline" nzType="clear"></i>
      <span>清除缓存</span>
    </li>
    <li nz-menu-item (click)="lockScreen()">
      <i nz-icon nzTheme="outline" nzType="lock"></i>
      <span>锁定屏幕</span>
    </li> -->
    <li nz-menu-item>
      <div (click)="goLogout()">
        <i nz-icon nzTheme="outline" nzType="logout"></i>
        <span class="ml-2">{{ 'ZNG.GlobalHeader.Logout' | translate: {Default: 'Logout'} }}</span>
      </div>
    </li>
  </ul>
</nz-dropdown-menu>