<nz-page-header nzBackIcon [nzGhost]="false">
  <nz-page-header-title>Order Number: 234231029431</nz-page-header-title>
  <nz-page-header-subtitle>Advanced Details Page</nz-page-header-subtitle>
  <nz-page-header-extra>
    <nz-space class="flex gap-4">
      <nz-radio-group>
        <label nz-radio-button>Operation 1</label>
        <label nz-radio-button>Operation 2</label>
        <label nz-dropdown nz-radio-button [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'">
          <i nz-icon nzTheme="outline" nzType="ellipsis"></i>
        </label>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>Option 1</li>
            <li nz-menu-item>Option 2</li>
            <li nz-menu-item>Option 3</li>
          </ul>
        </nz-dropdown-menu>
      </nz-radio-group>

      <button nz-button nzType="primary">Primary Operation</button>
    </nz-space>
  </nz-page-header-extra>
  <nz-page-header-content>
    <div nz-row>
      <div nz-col [nzLg]="18" [nzMd]="16" [nzSm]="24" [nzXl]="18" [nzXs]="24" [nzXXl]="20">
        <nz-descriptions nzSize="small" [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 1, xs: 1 }">
          <nz-descriptions-item nzTitle="Creator">Lucy Qu</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Ordered Product">XX Service</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Creation Time">2017-07-07</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Related Documents"><a class="operate-text">12421</a></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Effective Date">2017-07-07 ~ 2017-08-08</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Remarks">Please confirm within two working days</nz-descriptions-item>
        </nz-descriptions>
      </div>
      <div nz-col [nzLg]="6" [nzMd]="8" [nzSm]="24" [nzXl]="6" [nzXs]="24" [nzXXl]="4">
        <div class="left-start-center">
          <nz-statistic class="m-r-25" nzTitle="Status" nzValue="Pending Approval"></nz-statistic>
          <nz-statistic nzPrefix="¥" nzTitle="Order Amount" [nzValue]="568.08"></nz-statistic>
        </div>
      </div>
    </div>
  </nz-page-header-content>

  <nz-page-header-footer>
    <nz-tabset [(nzSelectedIndex)]="currentSelTab">
      <nz-tab nzTitle="Details" (nzClick)="to(tabEnum.Detail)"></nz-tab>
      <nz-tab nzTitle="Rules" (nzClick)="to(tabEnum.Rule)"></nz-tab>
    </nz-tabset>
  </nz-page-header-footer>
</nz-page-header>

<div class="normal-table-wrap flex flex-col gap-4">
  <nz-card [nzTitle]="'Workflow Progress'">
    <nz-steps [nzCurrent]="1" [nzDirection]="stepDirection" [nzProgressDot]="progressTemplate">
      <nz-step nzTitle="Create Project" [nzDescription]="createTpl"></nz-step>
      <nz-step nzTitle="Department Initial Review" [nzDescription]="trialTpl"></nz-step>
      <nz-step nzTitle="Financial Review"></nz-step>
      <nz-step nzTitle="Complete"></nz-step>
    </nz-steps>
    <ng-template #createTpl>
      <div>
        <span class="m-r-8">Lucy Qu</span>
        <i nz-icon nzTheme="outline" nzType="dingding"></i>
      </div>
      <div>2016-12-12 12:32</div>
    </ng-template>
    <ng-template #trialTpl>
      <div>
        <span class="m-r-8">Molly Zhou</span>
        <i nz-icon nzTheme="outline" nzType="dingding" style="color: rgb(0, 160, 233)"></i>
      </div>
      <div>
        <a class="operate-text">Remind</a>
      </div>
    </ng-template>
    <ng-template #progressTemplate let-dot let-index="index" let-status="status">
      <span nz-popover style="margin-left: -100%" [nzPopoverContent]="trialPopTpl">
        <ng-template [ngTemplateOutlet]="dot"></ng-template>
      </span>
    </ng-template>
    <ng-template #trialPopTpl>
      <div style="width: 160px">
        <div class="flex">
          <div class="flex-1">Jack Wu</div>
          <nz-badge nzStatus="default" nzText="No Response"></nz-badge>
        </div>
        <div class="mt5">Time Consumed: 2 hours 25 minutes</div>
      </div>
    </ng-template>
  </nz-card>

  <nz-card class="mt-8" [nzTitle]="'User Information'">
    <nz-descriptions>
      <nz-descriptions-item nzTitle="User Name">Fu Xiao Xiao</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Membership Card Number">32943898021309809423</nz-descriptions-item>
      <nz-descriptions-item nzTitle="ID Card">3321944288191034921</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Contact">18112345678</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Contact Address" [nzSpan]="2">Lucy Qu 18100000000 Intersection of Huanggushan Road and Gongzhu Road, Xihu District, Hangzhou City, Zhejiang Province</nz-descriptions-item>
    </nz-descriptions>
    <nz-descriptions class="mt-8" nzTitle="Information Group">
      <nz-descriptions-item nzTitle="Some Data">725</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Last Update Time of This Data">2017-08-08</nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="dataTitleTpl">725</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Last Update Time of This Data">2017-08-08</nz-descriptions-item>
    </nz-descriptions>
    <ng-template #dataTitleTpl>
      Some Data
      <i class="title-icon" nz-icon nz-tooltip nzTheme="outline" nzTooltipTitle="Data Explanation" nzType="info-circle"></i>
    </ng-template>
    <h3 class="mt-8">Information Group</h3>
    <nz-card class="mt-8" nzTitle="Multi-level Information Group" nzType="inner">
      <nz-descriptions nzTitle="Group Name">
        <nz-descriptions-item nzTitle="Responsible Person">Lin Dongdong</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Role Code">1234567</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Department">XX Company - YY Department</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Expiration Date">2017-08-08</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Description" [nzSpan]="2">This description is very long...</nz-descriptions-item>
      </nz-descriptions>
      <nz-divider></nz-divider>
      <nz-descriptions nzTitle="Group Name" [nzColumn]="1">
        <nz-descriptions-item nzTitle="Scientific Name">Citrullus lanatus (Thunb.) Matsum. et Nakai - annual herbaceous creeping vine; stems and branches are stout, with obvious edges. Tendrils are relatively thick...</nz-descriptions-item>
      </nz-descriptions>
      <nz-divider></nz-divider>
      <nz-descriptions nzTitle="Group Name">
        <nz-descriptions-item nzTitle="Responsible Person">Tiven Wang</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Role Code">1234568</nz-descriptions-item>
      </nz-descriptions>
    </nz-card>
  </nz-card>

  <nz-card class="mt-8" [nzTitle]="'Call Records in the Past Six Months'">
    <nz-empty></nz-empty>
  </nz-card>

  <nz-card class="mt-8">
    <nz-card-tab>
      <nz-tabset nzSize="large">
        <nz-tab nzTitle="Operation Log One"></nz-tab>
        <nz-tab nzTitle="Operation Log Two"></nz-tab>
        <nz-tab nzTitle="Operation Log Three"></nz-tab>
      </nz-tabset>
    </nz-card-tab>
    <zng-ant-table [tableConfig]="returnTableConfig" [tableData]="returnDataList"></zng-ant-table>
  </nz-card>
</div>

<ng-template #highLightTpl let-code="code">
  <nz-badge nzStatus="processing" nzText="Success"></nz-badge>
  and {{ code }}
</ng-template>
