<zng-navigation-progress-bar/>

<nz-layout class="zng-layout">
  @if (menuMode() === MenuMode.side) {
    <!-- fixed sider placeholder -->
    <div class="h-full duration-200 transition-all" [class.w-[200px]]="!isCollapsed()" [class.w-[60px]]="isCollapsed() && fixedLayoutSider()"></div>
    <!-- fixed sider -->
    <nz-sider class="zng-layout__sider flex flex-col"
      [class.zng-layout__menu-dark]="menuTheme() === ThemeType.dark"
      [nzTheme]="currentTheme === 'light' ? menuTheme() : 'dark'"
      nzCollapsible
      [nzCollapsed]="isCollapsed()"
      [nzTrigger]="null"
      [nzCollapsedWidth]="isCollapsed() ? fixedLayoutSider() ? 60 : 0 : 200">
      <div class="h-full flex flex-col">
        <ng-container *ngTemplateOutlet="logo;" ></ng-container>
        <zng-side-nav-bar class="flex-1" [nzTheme]="menuTheme()" [isCollapsed]="isCollapsed()"/>
    
        <nz-divider></nz-divider>
        <button class="mx-auto" nz-button nzType="text" (click)="toggleSideMenu()">
          <span nz-icon *ngIf="isCollapsed()" nzType="menu-unfold" nzTheme="outline"></span>
          <span nz-icon *ngIf="!isCollapsed()" nzType="menu-fold" nzTheme="outline"></span>
        </button>
  
        <div class="p-4 text-center">
          <ng-container *ngTemplateOutlet="ProImplementation"></ng-container>
        </div>
        
      </div>
    </nz-sider>
  } @else if (menuMode() === MenuMode.top || menuMode() === MenuMode.mix) {
    @if (fixedLayoutHeader()) {
      <div class="w-full h-[64px]"></div>
    }
  
    <nz-header class="zng-layout__header px-4 flex items-center overflow-hidden z-10 border-b border-b-black/5 dark:border-b-white/5" [class.zng-fixed]="fixedLayoutHeader()"
      [class.zng-layout__menu-dark]="menuTheme() === ThemeType.dark"
      [class.dark]="menuTheme() === ThemeType.dark"
    >
      <ng-container *ngTemplateOutlet="logo;" ></ng-container>
      <zng-top-nav-bar #topNavBar class="flex-1" [nzTheme]="menuTheme()"
        resizeObserver
        [resizeDebounceTime]="100"
        (sizeChange)="topNavBar.onResize()">
      </zng-top-nav-bar>
      <ng-container *ngTemplateOutlet="globalActions;"></ng-container>
    </nz-header>
  }

  <nz-content class="flex flex-row">
    <nz-layout class="overflow-auto">
      @if (menuMode() === MenuMode.side) {
        @if (fixedLayoutHeader()) {
          <div class="w-full h-[64px]"></div>
        }
        <nz-header class="zng-layout__header flex justify-start items-center" [class.zng-fixed]="fixedLayoutHeader()">
          @if (fixedLayoutHeader()) {
            <div class="h-full duration-200 transition-all" [class.w-[200px]]="!isCollapsed()" [class.w-[60px]]="isCollapsed() && fixedLayoutSider()"></div>
          }
          <button nz-button nzType="text" class="m-4" (click)="toggleSideMenu()">
            <span class=""
              nz-icon
              [nzType]="isCollapsed() ? 'menu-unfold' : 'menu-fold'"
            ></span>
          </button>

          <ng-container *ngTemplateOutlet="breadcrumb;"></ng-container>

          <span class="flex-1"></span>
    
          <ng-container *ngTemplateOutlet="globalActions;"></ng-container>
        </nz-header>
      }

      @if (menuMode() === MenuMode.mix) {
        <nz-sider nzCollapsible [nzCollapsed]="isCollapsed()" [nzCollapsedWidth]="0" nzWidth="200px" [nzTheme]="currentTheme"
          (nzCollapsedChange)="onSubMenuCollapsed($event)">
          <zng-sub-side-nav-bar></zng-sub-side-nav-bar>
          
          <div class="absolute bottom-0 p-4 w-full text-center overflow-hidden">
            <ng-container *ngTemplateOutlet="ProImplementation"></ng-container>
          </div>
        </nz-sider>
      }
      <nz-content class="flex flex-col">
        @if (isShowTab()) {
          <zng-menu-tab class="zng-fixed-top__left-sider"/>
        }
        <nz-layout class="zng-inner-layout flex-1">
          @if (menuMode() !== MenuMode.side) {
            <div class="p-4">
              <ng-container *ngTemplateOutlet="breadcrumb;"></ng-container>
            </div>
          }
          
          <nz-content class="zng-layout__content relative">
            @if (enableWaterMark) {
              <nz-water-mark class="block inset-0 w-full h-full pointer-events-none" [nzContent]="waterMark()"></nz-water-mark>
            }
            <router-outlet></router-outlet>
          </nz-content>

          <nz-footer class="w-full text-center">NGen 🛠 SAP • BTP • Fiori • Angular ©2024 By <a href="https://mtda.cloud/sap/">Metad Team</a></nz-footer>
        </nz-layout>
      </nz-content>
    </nz-layout>

    @if (enableCopilot) {
      <div class="zng-layout__copilot-container shrink-0 border-l border-neutral-100 dark:border-neutral-800"
        [class.zng-layout__copilot-opened]="openCopilotChat()">

        <div class="zng-layout__copilot-content relative flex flex-col">
          <zng-drawer-trigger class="absolute -left-6 top-1/2 -translate-y-1/2 z-40" [(opened)]="copilotOpened" side="right"></zng-drawer-trigger>

          @if (fixedLayoutHeader() || menuMode() === MenuMode.top || menuMode() === MenuMode.mix) {
            <div class="zng-layout__header-placeholder w-full h-[64px]"></div>
          }
          @if (fixedTab()) {
            <div class="zng-tab-menu__fixed-placeholder w-full"></div>
          }
          <ngm-copilot-chat class="flex-1 w-full overflow-auto"
            [user]="copilotUser()"
          ></ngm-copilot-chat>
        </div>
      </div>
    }
  </nz-content>

</nz-layout>

<ng-template #logo>
  <div class="p-4 h-[64px] flex flex-wrap justify-center items-center">
    <img src="assets/images/favicon.svg" alt="logo" class="inline-block w-8 h-8 rounded-sm mr-2" />
    @if (!isCollapsed()) {
      <span class="zng-logo-title w-0 md:w-auto transition-all duration-200 text-transparent bg-clip-text bg-gradient-to-br
       from-sky-400 to-indigo-600">{{'ZNG.AppName' | translate: {Default: 'SAP NGen Platform'} }}</span>
    }
  </div>
</ng-template>

<ng-template #ProImplementation>
 <a href="https://mtda.cloud/sap/" target="_blank">
    <img class="w-6 h-6 inline-block"
      alt="metad-logo"
      src="assets/images/favicon.svg"
    />
    <span class="font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-sky-500 to-indigo-500"
    >了解专业实施</span>
  </a>
</ng-template>

<ng-template #breadcrumb>
  <nz-breadcrumb class="font-semibold">
    <nz-breadcrumb-item *ngFor="let route of breadcrumbs()" >
      <a [routerLink]="route.value">{{route.label}}</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<ng-template #globalActions>
  <zng-global-header/>

  <!-- <button nz-button [style.height]="'100%'" nzType="text" (click)="openCopilotChat.set(!openCopilotChat())">
    <span nz-icon nzType="comment" nzTheme="outline"></span>
  </button> -->
</ng-template>