@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;
@use '@metad/ocap-angular/theming' as ocap;
@import './themes/base';

@include mat.core();

// Define a theme.
$primary: mat.define-palette(mat.$blue-grey-palette, 600);
$accent:  mat.define-palette(mat.$amber-palette, A700, A400, A200);

$mat-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent:  $accent,
  ),
  density: -1,
));

@include mat.all-component-themes($mat-theme);

@include ocap.core-theme($mat-theme);
@include ocap.analytical-grid-theme($mat-theme);
@include ocap.breadcrumb-theme($mat-theme);
@include ocap.controls-theme($mat-theme);
@include ocap.entity-theme($mat-theme);
@include ocap.common-color($mat-theme);
@include ocap.common-density($mat-theme);

$config: mat.get-color-config($mat-theme);
$foreground: map.get($config, foreground);
:root {
  --ngm-color-primary: #{mat.get-color-from-palette($primary)};
  --ngm-color-on-primary-container: #{darken(mat.get-color-from-palette($primary), 30%)};
  --ngm-color-primary-container: #{lighten(mat.get-color-from-palette($primary), 30%)};
  --ngm-color-primary-container-variant: #{color.change(mat.get-color-from-palette($primary), $alpha: 0.1)};
  --ngm-color-secondary: #{mat.get-color-from-palette($accent)};
  --ngm-color-secondary-container: #{lighten(mat.get-color-from-palette($accent), 30%)};
  --ngm-color-outline: #{map.get($foreground, divider)};

  --ngm-app-background-color: white;
  --ngm-color-main-container-background: white;
  --ngm-color-on-surface: #1f1f1f;
  --ngm-color-on-surface-variant: #444746;
  --ngm-divider-color-secondary: theme('colors.neutral.100');
  --ngm-color-surface: white;
  --ngm-color-surface-container-low: theme('colors.neutral.50');
  --ngm-color-surface-container: theme('colors.neutral.100');
  --ngm-color-surface-container-high: #f2f2f2;
  --ngm-color-surface-container-highest: #e5e5e5;
  --ngm-color-outline-variant: theme('colors.neutral.100');
  --ngm-copilot-bg-color: var(--ngm-color-surface-container);
}