@if(hasMoreMenus()) {
  <button nz-button [disabled]="alignLeft" nzType="text" class="zng-top-nav-bar__scroll-button p-2" (click)="scrollLeft()">
    <span nz-icon nzType="double-left" nzTheme="outline"></span>
  </button>
}

<!-- 使用 ng-container + ng-template 实现的递归菜单，nz-menu 不能正确识别父级的 service 至显示效果不正确，所以只能使用 hardcode 写法 -->
<div #menusContainer class="zng-menus-container flex items-center overflow-x-auto scroll-smooth" resizeObserver (sizeChange)="onResize()">
  <ul #mEl id="menuNav" nz-menu nzMode="horizontal" [nzTheme]="nzTheme" class="inline-flex">
    <!-- Level 1 -->
    @for (menu of menus(); track menu.path) {
      @if (isMix() || !menu.hasSubmenus) {
        <li nz-menu-item [routerLink]="menu.path" [queryParams]="menu.queryParams" [fragment]="menu.fragment" nzMatchRouter>
          @if (menu.icon) {
            <span nz-icon [nzType]="menu.icon"></span>
          }
          <span [title]="'ZNG.Pages.'+menu.title | translate: {Default: menu.title}">
            {{ 'ZNG.Pages.'+menu.title | translate: {Default: menu.title} }}
          </span>
        </li>
      } @else {
        <li nz-submenu [nzTitle]="menu.title" [nzIcon]="menu.icon ?? null"
          [routerLink]="menu.path" nzMatchRouter routerLinkActive="active-link"
          (mouseenter)="loadMenus(menu)"
          >
          <ul>
            <!-- Level 2 -->
            @for (menu of menu.submenus; track menu.path) {
              @if (!menu.hasSubmenus) {
                <li nz-menu-item [routerLink]="menu.path" [queryParams]="menu.queryParams" [fragment]="menu.fragment" nzMatchRouter>
                  @if (menu.icon) {
                    <span nz-icon [nzType]="menu.icon"></span>
                  }
                  <span [title]="'ZNG.Pages.'+menu.title | translate: {Default: menu.title}">
                    {{ 'ZNG.Pages.'+menu.title | translate: {Default: menu.title} }}
                  </span>
                </li>
              } @else {
                <li nz-submenu [nzTitle]="menu.title" [nzIcon]="menu.icon ?? null"
                  [routerLink]="menu.path" nzMatchRouter routerLinkActive="active-link"
                  (mouseenter)="loadMenus(menu)">
                  <ul>
                    <!-- Level 3 -->
                    @for (menu of menu.submenus; track menu.path) {
                      @if (!menu.hasSubmenus) {
                        <li nz-menu-item [routerLink]="menu.path" [queryParams]="menu.queryParams" [fragment]="menu.fragment" nzMatchRouter>
                          @if (menu.icon) {
                            <span nz-icon [nzType]="menu.icon"></span>
                          }
                          <span [title]="'ZNG.Pages.'+menu.title | translate: {Default: menu.title}">
                            {{ 'ZNG.Pages.'+menu.title | translate: {Default: menu.title} }}
                          </span>
                        </li>
                      } @else {
                        <li nz-submenu [nzTitle]="menu.title" [nzIcon]="menu.icon ?? null"
                          [routerLink]="menu.path" nzMatchRouter routerLinkActive="active-link"
                          (mouseenter)="loadMenus(menu)">
                          <ul>
                            <!-- Level 4 -->
                            @for (menu of menu.submenus; track menu.path) {
                              <li nz-menu-item [routerLink]="menu.path" [queryParams]="menu.queryParams" [fragment]="menu.fragment" nzMatchRouter>
                                @if (menu.icon) {
                                  <span nz-icon [nzType]="menu.icon"></span>
                                }
                                <span [title]="'ZNG.Pages.'+menu.title | translate: {Default: menu.title}">
                                  {{ 'ZNG.Pages.'+menu.title | translate: {Default: menu.title} }}
                                </span>
                              </li>
                            }
                          </ul>
                        </li>
                      }
                    }
                  </ul>
                </li>
              }
            }
          </ul>
        </li>
      }
    }
  </ul>
</div>

@if(flpLoading()) {
  <nz-spin nzSimple class="m-4"></nz-spin>
}

@if(hasMoreMenus()) {
  <button nz-button [disabled]="alignRight" nzType="text" class="zng-top-nav-bar__scroll-button" (click)="scrollRight()">
    <span nz-icon nzType="double-right" nzTheme="outline"></span>
  </button>

  <a nz-dropdown class="zng-top-nav-bar__more-button" nzTrigger="click" [nzDropdownMenu]="dropdownMenu" nzPlacement="bottomRight" [nzOverlayStyle]="{maxHeight: '90vh', 'overflow-y': 'auto'}"
    nzOverlayClassName="rounded-md shadow-md z-10">
    <span nz-icon nzType="more" nzTheme="outline"></span>
  </a>
}

<nz-dropdown-menu #dropdownMenu="nzDropdownMenu">
  <ul nz-menu>
    <!-- Level 1 -->
    @for (menu of menus(); track menu.path) {
      @if (menu.hasSubmenus) {
        <li nz-submenu [nzTitle]="menu.title" [nzIcon]="menu.icon ?? null"
          [routerLink]="menu.path" nzMatchRouter routerLinkActive="active-link"
          (mouseenter)="loadMenus(menu)">
          <ul>
            <!-- Level 2 -->
            @for (menu2 of menu.submenus; track menu2.path) {
              @if (menu2.hasSubmenus) {
                <li nz-submenu [nzTitle]="menu2.title" [nzIcon]="menu2.icon ?? null"
                  [routerLink]="menu2.path" nzMatchRouter routerLinkActive="active-link"
                  (mouseenter)="loadMenus(menu2)">
                  <ul>
                    <!-- Level 3 -->
                    @for (menu3 of menu2.submenus; track menu3.path) {
                      <li nz-menu-item [routerLink]="menu3.path" [queryParams]="menu3.queryParams" [fragment]="menu3.fragment" nzMatchRouter>
                        <span *ngIf="menu3.icon" nz-icon [nzType]="menu3.icon"></span>
                        <span>{{ 'ZNG.Pages.'+menu3.title | translate: {Default: menu3.title} }}</span>
                      </li>
                    }
                  </ul>
                </li>
              } @else {
                <li nz-menu-item [routerLink]="menu2.path" [queryParams]="menu2.queryParams" [fragment]="menu2.fragment" nzMatchRouter>
                  <span *ngIf="menu2.icon" nz-icon [nzType]="menu2.icon"></span>
                  <span>{{ 'ZNG.Pages.'+menu2.title | translate: {Default: menu2.title} }}</span>
                </li>
              }
            }
          </ul>
        </li>
      } @else {
        <li nz-menu-item [routerLink]="menu.path" [queryParams]="menu.queryParams" [fragment]="menu.fragment" nzMatchRouter>
          <span *ngIf="menu.icon" nz-icon [nzType]="menu.icon"></span>
          <span>{{ 'ZNG.Pages.'+menu.title | translate: {Default: menu.title} }}</span>
        </li>
      }
    }
  </ul>
</nz-dropdown-menu>
