@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/dark';
@import './base';
@import './modal/search';

@layout-sider-background: #141414;
@layout-header-background: #141414;

:root {
    --zng-header-bg-color: #141414;
    --zng-header-color: theme('colors.gray.500');
    --zng-header-color-hover: theme('colors.gray.300');
    --zng-scrollbar-track-background: rgba(255,255,255,.15);
    --zng-scrollbar-thumb-background: rgba(255,255,255,.2);
}

.zng-layout__menu-dark {
    --zng-header-bg-color: #141414;
}
