// New scrollbar attributes:
// https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color
/**
 * @todo Styles with calssName
 */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--zng-scrollbar-color, rgba(0, 0, 0, 0.12)) transparent;
}

*::-webkit-scrollbar-track {
  background: var(--zng-scrollbar-track-background, white); // Default value for default theme
  -webkit-box-shadow: inset 0 0 5px rgba(37, 37, 37, 0.05);
}

*::-webkit-scrollbar-thumb {
  background: var(--zng-scrollbar-thumb-background, lightgray); // Default value for default theme
  -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.05);
}
