<ul nz-menu nzMode="inline" [nzTheme]="nzTheme" [nzInlineCollapsed]="isCollapsed">
  <ng-container *ngFor="let menu of menus(); trackBy: trackByIndex">
    <li nz-menu-item *ngIf="!menu.hasSubmenus" [routerLink]="menu.path" nzMatchRouter
      nz-tooltip
      nzTooltipPlacement="right"
      [nzTooltipTitle]="isCollapsed ? menu.title : ''">
      <span *ngIf="menu.icon" nz-icon [nzType]="menu.icon"></span>
      <span>{{ menu.title }}</span>
    </li>
    <li nz-submenu *ngIf="menu.hasSubmenus" [nzTitle]="menu.title" [nzIcon]="menu.icon"
      nzMatchRouter routerLinkActive="active-link"
      (click)="loadMenus(menu)">
      <!-- for highlight the active parent menu -->
      <div [routerLink]="menu.path"></div>
      <ul>
        <li *ngFor="let submenu of menu.submenus" nz-menu-item [routerLink]="submenu.path" [queryParams]="submenu.queryParams" [fragment]="submenu.fragment" nzMatchRouter
          (click)="$event.stopPropagation()"
        >
          {{ submenu.title }}
        </li>
      </ul>
    </li>
  </ng-container>
</ul>