<ul nz-menu nzMode="inline" [nzTheme]="nzTheme" [nzInlineCollapsed]="isCollapsed">
  <ng-container *ngFor="let menu of menus(); trackBy: trackByIndex">
    <li nz-menu-item *ngIf="!menu.hasSubmenus" [routerLink]="menu.path" nzMatchRouter
      nz-tooltip
      nzTooltipPlacement="right"
      [nzTooltipTitle]="isCollapsed ? menu.label : ''">
      <span *ngIf="menu.icon" nz-icon [nzType]="menu.icon"></span>
      <span>{{ menu.label }}</span>
    </li>
    <li nz-submenu *ngIf="menu.hasSubmenus" [nzTitle]="menu.label" [nzIcon]="menu.icon"
      nzMatchRouter routerLinkActive="active-link"
      (click)="loadMenus(menu)">
      <ul>
        <ng-container *ngFor="let submenu of menu.submenus">
          <li *ngIf="submenu.isUi5" nz-menu-item (click)="goUI5Page(submenu)">{{ submenu.label }}</li>
          <li *ngIf="!submenu.isUi5" nz-menu-item  [routerLink]="submenu.path" nzMatchRouter>
            {{ submenu.label }}
          </li>
        </ng-container>
      </ul>
    </li>
  </ng-container>
</ul>