<nz-page-header [nzGhost]="false"
  class="site-page-header"
  nzBackIcon
  nzTitle="Dashboard"
  nzSubtitle="Daily Work"
>
  <nz-page-header-content>
    <div class="mini-screen" nz-row>
      <div nz-col nzFlex="1">
        <div nz-row>
          <div class="rounded-full overflow-hidden mr-4" nz-col nzFlex="72px">
            <img alt="" src="assets/images/default-user.jpg" />
          </div>
          <div nz-col nzFlex="1">
            <h4 class="left-start-center m-0" nz-typography style="height: 50%">Good morning, <a href="https://mtda.cloud/sap/">Metad Information</a>, wish you a happy day!</h4>
            <div class="left-start-center" nz-typography nzType="secondary" style="height: 50%">ERP Expert | Meta Information - SAP BTP & Fiori Stack</div>
          </div>
        </div>
      </div>
      <div nz-col nzFlex="280px">
        <nz-row>
          <nz-col [nzSpan]="8">
            <nz-statistic [nzTitle]="'Projects'" [nzValue]="(56 | number)!"></nz-statistic>
          </nz-col>
          <nz-col [nzSpan]="8">
            <nz-statistic [nzTitle]="'Team Ranking'" [nzValue]="'8/24'"></nz-statistic>
          </nz-col>
          <nz-col [nzSpan]="8">
            <nz-statistic [nzTitle]="'Project Visits'" [nzValue]="(2223 | number)!"></nz-statistic>
          </nz-col>
        </nz-row>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>

<div class="normal-table-wrap">
  <div nz-row [nzGutter]="[32, 32]">
    <div nz-col [nzLg]="24" [nzMd]="24" [nzSm]="24" [nzXl]="16" [nzXs]="24" [nzXXl]="16">
      <div nz-row [nzGutter]="[32, 32]">
        <div nz-col nzSpan="24">
          <nz-card nzTitle="Ongoing Projects" [nzExtra]="extraTemplate">
            <div nz-row>
              <div *ngFor="let i of 6 | numberLoop" nz-card-grid nz-col [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
                <nz-card-meta nzDescription="Modern Fiori interface has been applied to production environment" [nzTitle]="cardTitleTpl"></nz-card-meta>
                <div class="card-foot">
                  <span nz-typography nzType="secondary">Xiao Hua</span>
                  <span nz-typography nzType="secondary">4 years ago</span>
                </div>
              </div>
            </div>
          </nz-card>
        </div>
        <div nz-col nzSpan="24">
          <nz-card nzTitle="Activity">
            <nz-list>
              <nz-list-item *ngFor="let item of 6 | numberLoop" style="padding: 16px 24px">
                <nz-list-item-meta>
                  <nz-list-item-meta-avatar [nzSrc]="'assets/imgs/default_face.png'"></nz-list-item-meta-avatar>
                  <nz-list-item-meta-title>
                    <a>
                      Factory Production Plan
                      <span class="operate-text">Project</span>
                      <span class="operate-text">successfully launched!</span>
                    </a>
                  </nz-list-item-meta-title>
                  <nz-list-item-meta-description>19 days ago</nz-list-item-meta-description>
                </nz-list-item-meta>
              </nz-list-item>
            </nz-list>
          </nz-card>
        </div>
      </div>
    </div>
    <div nz-col [nzLg]="24" [nzMd]="24" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
      <div nz-row [nzGutter]="[32, 32]">
        <div nz-col nzSpan="24">
          <nz-card nzTitle="Quick Start/Easy Navigation">
            <div nz-row [nzGutter]="[16, 16]">
              <div *ngFor="let item of 6 | numberLoop" nz-col nzSpan="6">
                <a (click)="msg.success('Clicked')">Action 1</a>
              </div>
              <div nz-col nzSpan="6">
                <button nz-button nzGhost nzType="primary" [nzSize]="'small'">
                  <i nz-icon nzType="plus"></i>
                  <span>Add</span>
                </button>
              </div>
            </div>
          </nz-card>
        </div>
        <div nz-col nzSpan="24">
          <nz-card nzTitle="XX Index">
            <div id="randar"></div>
          </nz-card>
        </div>
        <div nz-col nzSpan="24">
          <nz-card nzTitle="Team">
            <div nz-row>
              @for (team of teams(); track team) {
                <div nz-col nzSpan="12">
                  <a class="group">
                    <nz-avatar [nzSize]="24" [nzSrc]="'https://gw.alipayobjects.com/zos/rmsportal/sfjbOqnsXXJgNCjCzDBL.png'"></nz-avatar>
                    <span class="ml-2">{{team}}</span>
                  </a>
                </div>
              }
            </div>
          </nz-card>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #extraTemplate>
  <a class="operate-text">All Projects</a>
</ng-template>

<ng-template #cardTitleTpl>
  <nz-avatar [nzSize]="24" [nzSrc]="'https://gw.alipayobjects.com/zos/rmsportal/zOsKZmFRdUtvpqCImOVY.png'"></nz-avatar>
  <span class="ml-1">Angular</span>
</ng-template>