<nz-card [nzBodyStyle]="{ padding: 0 }" >
  <nz-tabset nzCentered [nzTabBarStyle]="{ paddingLeft: '15px', paddingRight: '15px' }">
    <nz-tab nzTitle="通知(0)">
      <ng-container *ngTemplateOutlet="notificationTpl"></ng-container>
    </nz-tab>
    <nz-tab nzTitle="消息(0)">
      <ng-container *ngTemplateOutlet="notificationTpl"></ng-container>
    </nz-tab>
    <nz-tab nzTitle="待办(0)">
      <ng-container *ngTemplateOutlet="notificationTpl"></ng-container>
    </nz-tab>
  </nz-tabset>
</nz-card>
<ng-template #notificationTpl>
  <nz-list nzItemLayout="horizontal">
    <nz-list-item *ngFor="let i of messages()">
      <nz-list-item-meta>
        <nz-list-item-meta-title>
          <div class="flex p-l-10 p-r-10">
            <span class="flex-1" nz-typography nzEllipsis></span>
            <nz-tag class="m-l-10" [nzColor]="'red'"></nz-tag>
          </div>
        </nz-list-item-meta-title>
        <nz-list-item-meta-description>
          <div class="p-l-10 p-r-10">
            <p nz-typography nzEllipsis nzType="secondary" [nzEllipsisRows]="3"></p>
            <p>审核时间：2022-2-22</p>
          </div>
        </nz-list-item-meta-description>
      </nz-list-item-meta>
    </nz-list-item>
     <nz-list-empty *ngIf="messages().length === 0"></nz-list-empty>
    <nz-list-footer>
      <div class="center operate-text full-with full-height"></div>
    </nz-list-footer>
  </nz-list>
</ng-template>
