:host ::ng-deep {
  .ant-tabs-tab.ant-tabs-tab-active {
    border-bottom-color: transparent;
  }

  .ant-tabs-tab {
    transition: background-color 0s !important;
  }

  .ant-tabs-nav {
    margin-bottom: 0 !important;
    transition: background-color 0s !important;
  }

  .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
    @apply rounded-tl-md rounded-tr-md border-b-0;

    .ant-tabs-tab-remove {
      @apply hover:text-red-500;
    }

    &.ant-tabs-tab-active {
      background-color: var(--zng-layout-body-background);
    }

    &:not(.ant-tabs-tab-active) {
      @apply border-transparent bg-transparent;
      
      .ant-tabs-tab-remove {
        @apply opacity-0 transition-opacity duration-200;
      }

      &:hover {
        .ant-tabs-tab-remove {
          @apply opacity-100;
        }
      }
    }
  }
}

.zng-fixed-tab {
  width: calc(100% - var(--zng-left-sider-width));
  transition: width 0.2s;
  @apply fixed right-0 shadow-sm z-40;

  i {
    position: absolute;
    top: 4px;
    right: 0;
    display: none;
  }
}

.zng-fixed-tab.zng-fixed-collapsed {
  width: calc(100% - var(--zng-left-sider-collapsed-width));
}

.zng-tab-menu__fixed-placeholder {
  height: var(--zng-tab-menu-height, 45px);
}