<div class="normal-table-wrap">
  <nz-card>
    <form class="form-wrap" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label nzFor="title" nzRequired [nzSm]="6" [nzXs]="24">Title</nz-form-label>
        <nz-form-control nzErrorTip="Please input the title" [nzSm]="14" [nzXs]="24">
          <input id="title" formControlName="title" nz-input placeholder="Enter a name for the target" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="date" nzRequired [nzSm]="6" [nzXs]="24">Start and End Date</nz-form-label>
        <nz-form-control nzErrorTip="Please select the start and end date" [nzSm]="14" [nzXs]="24">
          <nz-range-picker class="with-full" formControlName="date"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="desc" nzRequired [nzSm]="6" [nzXs]="24">Target Description</nz-form-label>
        <nz-form-control nzErrorTip="Please input the target description" [nzSm]="14" [nzXs]="24">
          <textarea id="desc" formControlName="desc" nz-input placeholder="Enter your phased work target" rows="4"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="standard" nzRequired [nzSm]="6" [nzXs]="24">Measurement Standard</nz-form-label>
        <nz-form-control nzErrorTip="Please input the measurement standard" [nzSm]="14" [nzXs]="24">
          <textarea id="standard" formControlName="standard" nz-input placeholder="Enter the measurement standard" rows="4"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="client" nzTooltipTitle="The target's service object" [nzSm]="6" [nzXs]="24">Client</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input id="client" formControlName="client" nz-input placeholder="Describe the clients you serve, mention internal clients directly with @name/employee number" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="invitedCommenter" [nzSm]="6" [nzXs]="24">Reviewers</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input id="invitedCommenter" formControlName="invitedCommenter" nz-input placeholder="Mention reviewers directly with @name/employee number, up to 5 people" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="weights" [nzSm]="6" [nzXs]="24">Weight</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-input-number id="weights" formControlName="weights" [nzPlaceHolder]="'Please enter'" [nzStep]="1"></nz-input-number>
          %
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="public" [nzSm]="6" [nzXs]="24">Target Visibility</nz-form-label>
        <nz-form-control nz-row nzExtra="Clients and reviewers are automatically shared" [nzSm]="14" [nzXs]="24">
          <nz-radio-group id="public" formControlName="isPublic">
            <label nz-radio nzValue="1">Public</label>
            <label nz-radio nzValue="2">Partially Public</label>
            <label nz-radio nzValue="3">Private</label>
          </nz-radio-group>
          <nz-select *ngIf="validateForm.get('isPublic')!.value === '2'" class="m-t-5" nzMode="tags"
            formControlName="targetAudiences">
            <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row>
        <nz-form-control [nzOffset]="6" [nzSpan]="14">
          <button nz-button nzType="primary" class="mr-2">Submit</button>
          <button class="m-l-10" nz-button nzType="default">Save</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</div>